<!DOCTYPE html>
<html>
<head>
	<title>XSeeker</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="content-style-type" content="text/css">
	<meta name="description" content="XLab RSS channel search engine">
	<meta name="keywords" content="XSeeker, XLab">
	<meta name="author" content="Katarzyna Krasińska">
	<link rel="stylesheet" type="text/css" href="./application/assets/main.css">
	<link href='http://fonts.googleapis.com/css?family=Average+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="application">
		<div id="not_found_message">
			<div id="code_404">404</div>
			<div id="comment">Sorry, page not found!</div>
		</div>
	</div>
</body>
</html>
